body{
    margin: 0;
    background-color: #d2b89e;

}



#cabecalho {
    background-color: #846444;
    height: 150px;
    display: flex;
    justify-content: center; 
}


.menu{ /*menu do cabeçalho*/
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
    border-radius: 10%;
    border-color: #8b7763;
}

.barra_menu{ /*menu do cabeçalho*/
    background-color: #b09274;
    display: inline-block;
    width: 100%;

}


a{
    text-decoration: none;
    margin-right: 10px;
    margin-inline: 10px;
    color: #271708;
    
}

a:hover {
    color: #83303d;

}

main { /*Corpo principal da pagina*/
    margin-left: 5%;
    margin-right: 5%;
    display: center;
    align-items: center; 
    background-color: #e9d9ca;
    min-height: 130vh; 
}

#coffeeshop{ /*Imagem página nossa história*/
    margin: 5%;
    float: left;
    width: 40%;
   
}

.titulo{
    font-family: Didot, times;
    font-style: italic;
    color:  #db697c;
    display: inline;
    margin: 2% 5%;
    font-size: 200%;
    justify-content: center;



}

p{
    font-family: Didot, times;
    text-align: justify;
    margin: 1% 5%;
    color: #271708;
    text-indent: 2em;

    
}

footer{
    background-color: #846444;
    font-family: Didot, times;
    font-size: 150%;
    display: flex;
    justify-content: center;
    width: 100%;
    color:#db697c;
    
}

.galeria{ /*Fotos pág nosso espaço*/
    width: 24%;
    margin: 3%;
    display: inline-block;
    grid-template-columns: repeat(6, 1fr);

    
}

.galeria:hover{
    width: 30%;
}

ul{
    list-style: none;
}

.conteiner{/*layout pag cardápio*/
    display: flex;
    flex: wrap;
    border: 1px solid  #271708 ;
    height: 50vh;


}

.conteiner img{/*pag cardápio*/
    width: 20%;
    margin: 5%;
}

.box h2{ /*pag cardápio*/
    font-family: Didot, times;
    align-items: left;
    margin: 5%;
    color: #83303d;


}

.box p{/*pag cardápio*/
    font-family: Didot, times;
    text-align: justify;
    height: 25%;
}

#eventos_titulo{ /*pag eventos*/
    font-family: Didot, times;
    font-style: italic;
    color:  #db697c;
    display: inline-block;
    margin: 2% 5%;
    font-size: 500%;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
from {
  margin-left: 100%;
  width: 300%;
}

to {
  margin-left: 5%;
  width: 100%;
}
}

input{
    color: black;
    display: inline-table;
    margin: 5px auto;
    border:#db697c;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
}
#name-label, #email-label {
    display: block;
    color: #db697c;
    
    
}
#submit {
    background-color:#db697c;
    color: #271708 ; 
    margin: 10px solid #BA4B2F ;
    border: 10px #BA4B2F;
    border-radius: 30px 30px 30px 30px;
    width: 30%;
    
    
}

#submit:hover {
    color: #83303d;

}

